{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Donation Website</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

        <nav>
            <ul>
                <li><a href ="#"> Home</a></li>
                <li><a href ="#"> Donate</a></li>
                <li><a href ="/register"> Register</a></li>
                <li><a href ="/login" > Login</a></li>
                <li><a href ="/logout">Logout</a></li>
            </ul>
        </nav>

        <div class="container" >
            <img src="{% static 'image/stjude.jpg' %}">

            <div class="text">
                <p>St. Jude Children's Hospital is a leading pediatric treatment and research facility dedicated to curing catastrophic diseases, primarily childhood cancers. Founded in 1962 by the late entertainer Danny Thomas, St. Jude's mission is to advance cures and means of prevention for pediatric catastrophic diseases through research and treatment. The hospital is located in Memphis, Tennessee and treats children from all 50 states and around the world, regardless of their family's ability to pay.<br><br>

                    St. Jude Children's Hospital is unique in that it not only provides cutting-edge treatment to its patients, but it also conducts groundbreaking research in the fight against childhood diseases. The hospital's research efforts have led to some of the most important advances in pediatric cancer treatment, including the development of life-saving chemotherapy protocols and the identification of genetic risk factors for certain types of childhood cancers.<br><br>
                
                    St. Jude also offers a range of support services to its patients and families, including education, counseling, and family housing. The hospital's commitment to providing compassionate care and hope to its patients and families is reflected in its motto, "Finding cures. Saving children."</p>
        
            </div>
        </div>
        
        <div class="container" >
            <img src="{% static 'image/afa.jpg' %}">

            <div class="text">
                <p>The Alzheimer's Foundation of America (AFA) is a non-profit organization that aims to provide support, services, and education to individuals with Alzheimer's disease and related dementias, as well as to their families and caregivers. Founded in 2002, the AFA is dedicated to promoting optimal care and quality of life for individuals affected by Alzheimer's disease. The foundation's vision is to ensure that individuals with Alzheimer's disease receive compassionate care, support, and resources, and that they are treated with dignity and respect.<br><br>

                    The AFA offers a range of programs and services to help individuals with Alzheimer's disease and their families. These include a national toll-free helpline, educational conferences and workshops, a virtual memory screening program, a medication assistance program, and support groups for individuals with Alzheimer's disease and their caregivers. In addition, the AFA provides grants to support research into Alzheimer's disease and related dementias.<br><br>
                
                    The AFA also advocates for policies and legislation that support individuals with Alzheimer's disease and their families. The foundation works with policymakers at the local, state, and national levels to promote Alzheimer's disease awareness and to improve access to quality care and support services. Through its efforts, the AFA is working to ensure that individuals with Alzheimer's disease and their families receive the care and support they need to live with dignity and quality of life.
            </div>
        </div>
        
        <div class="container" >
            <img src="{% static 'image/riley.jpg' %}">

            <div class="text">
                <p>Riley Children's Hospital is a pediatric hospital located in Indianapolis, Indiana. It is affiliated with the Indiana University School of Medicine and is the only comprehensive children's hospital in the state of Indiana. Riley Children's Hospital provides a wide range of services for children and families, including primary and specialty care, surgical services, and research programs. The hospital is known for its expertise in treating children with complex medical conditions, including cancer, heart disease, and rare genetic disorders.<br><br>

                    Riley Children's Hospital is committed to providing the highest quality care for children and families. The hospital has a team of highly skilled pediatric specialists, nurses, and support staff who are dedicated to improving the health and well-being of children. The hospital also provides a range of support services for families, including social work, chaplaincy, child life, and family support services. The hospital's goal is to provide care that is compassionate, family-centered, and tailored to the unique needs of each child and family.<br><br>
                    
                    In addition to providing clinical care, Riley Children's Hospital is also a leader in pediatric research. The hospital's research programs are focused on improving the understanding of childhood diseases and developing new treatments and therapies for children. Riley Children's Hospital is home to the Herman B Wells Center for Pediatric Research, which is one of the largest pediatric research centers in the United States. Through its research programs, Riley Children's Hospital is working to improve the health and well-being of children not only in Indiana, but also around the world.
                    
            </div>
        </div>

        <div class="container" >
            <img src="{% static 'image/woundedwarrior.jpg' %}">

            <div class="text">
                <p>The Wounded Warrior Project (WWP) is a non-profit organization that provides a range of programs and services for injured veterans and their families. The organization was founded in 2003 and is headquartered in Jacksonville, Florida. The WWP's mission is to honor and empower wounded veterans by providing programs and services that meet their physical, mental, and emotional needs.<br><br>

                    The WWP offers a variety of programs and services for wounded veterans and their families. These include mental and physical health and wellness programs, career and education services, and support for families and caregivers. The organization's goal is to provide wounded veterans with the tools and resources they need to achieve their goals and live full and productive lives. The WWP also advocates for policies and legislation that support injured veterans and their families.<br><br>
                    
                    The Wounded Warrior Project has helped thousands of wounded veterans since its founding. The organization's programs and services have helped veterans to overcome physical and emotional challenges, find meaningful employment and education opportunities, and build strong support networks. The WWP is committed to providing wounded veterans with the resources and support they need to achieve their goals and live full and productive lives.
            </div>
        </div>

        <div class="container" >
            <img src="{% static 'image/t2t.jpg' %}">

            <div class="text">
                <p>The Tunnel to Towers Foundation is a non-profit organization that was established in memory of firefighter Stephen Siller, who lost his life during the 9/11 terrorist attacks. The organization's mission is to honor the sacrifice of first responders and military personnel by providing support and assistance to their families. The foundation achieves this through a range of programs and services that provide financial assistance, housing support, and educational resources.<br><br>

                    One of the foundation's most well-known programs is its Smart Home Program, which builds custom-designed homes for severely injured veterans. These homes are equipped with cutting-edge technology and features that allow veterans to live more independently and with greater dignity. The foundation also provides mortgage-free homes to Gold Star families, which are families who have lost a loved one in the line of duty.<br><br>
                    
                    The Tunnel to Towers Foundation also operates a number of other programs and services, including its Fallen First Responder Home Program, which provides mortgage-free homes to the families of first responders who have lost their lives in the line of duty. The foundation also provides financial assistance to families of first responders and military personnel who are experiencing financial hardship. In addition, the foundation operates the Siller Tunnels 5K Run & Walk, an annual event that commemorates Stephen Siller's heroic run through the Brooklyn-Battery Tunnel on 9/11. The event raises funds for the foundation's programs and services.
            </div>
        </div>

        <div class="container" >
            <img src="{% static 'image/redcross.jpg' %}">

            <div class="text">
                <p>The American Red Cross Foundation is a non-profit organization that supports the humanitarian work of the American Red Cross. The foundation's mission is to provide financial and other resources to support the American Red Cross's efforts to prevent and alleviate human suffering in the face of emergencies. The foundation supports a wide range of programs and services, including disaster relief, blood donation, health and safety training, and support to military families.<br><br>

                    One of the American Red Cross Foundation's most important programs is its disaster relief program. The foundation provides support to individuals and families who have been affected by disasters such as hurricanes, floods, and wildfires. This includes providing emergency shelter, food, and supplies to those in need, as well as financial assistance to help individuals and families get back on their feet.<br><br>
                    
                    The American Red Cross Foundation is also a leader in blood donation and blood services. The foundation operates blood donation centers across the United States, and also works to recruit and train blood donors. In addition, the foundation supports research and development of new blood products and therapies, and provides blood and blood products to hospitals and medical facilities across the country. The foundation's blood donation program is critical to ensuring that patients have access to the blood and blood products they need to survive and thrive.
            </div>
        </div>

        <div class="container" >
            <img src="{% static 'image/wwf.jpg' %}">

            <div class="text">
                <p>The World Wildlife Fund (WWF) is a non-profit organization dedicated to protecting and conserving the natural world. The organization was founded in 1961 and operates in more than 100 countries around the world. The WWF's mission is to conserve nature and reduce the most pressing threats to the diversity of life on Earth.<br><br>

                    The WWF's work is focused on several key areas, including wildlife conservation, habitat protection, and climate change. The organization works to protect endangered species and their habitats, including elephants, tigers, and pandas. The WWF also works to address the impacts of climate change, which threatens wildlife and natural habitats around the world. The organization's programs and initiatives are designed to reduce greenhouse gas emissions, promote sustainable energy and resource use, and build resilience to the impacts of climate change.<br><br>
                    
                    In addition to its conservation work, the WWF also works with governments, businesses, and communities around the world to promote sustainable development and responsible stewardship of natural resources. The organization works to promote sustainable fishing practices, reduce deforestation and habitat loss, and promote the use of renewable energy sources. Through its education and outreach programs, the WWF also works to raise awareness about the importance of conserving nature and the threats facing wildlife and natural habitats.
            </div>
        </div>

        <div class="container" >
            <img src="{% static 'image/feedingamerica.jpg' %}">

            <div class="text">
                <p>Feeding America is a non-profit organization that is dedicated to ending hunger in the United States. The organization was founded in 1979 and operates a nationwide network of food banks and food distribution centers. Feeding America's mission is to provide food to people in need and work to end hunger in America.<br><br>

                    Feeding America works with a network of more than 200 food banks and 60,000 partner organizations, including food pantries, soup kitchens, and other charitable organizations. Through its network, Feeding America provides food assistance to more than 40 million people each year. The organization's programs and services include food distribution, food recovery, and nutrition education.<br><br>
                    
                    In addition to its direct food distribution programs, Feeding America is also committed to addressing the root causes of hunger in America. The organization advocates for policies and programs that support food security and address poverty and inequality. Feeding America also works to raise awareness about the issue of hunger in the United States and the impact it has on individuals, families, and communities. By working to address both the immediate needs of those facing hunger and the underlying causes of food insecurity, Feeding America is helping to create a brighter, more equitable future for all Americans.
            </div>
        </div>

        <div class="container" >
            <img src="{% static 'image/ymca.jpg' %}">

            <div class="text">
                <p>The YMCA, or Young Men's Christian Association, is a non-profit organization that serves communities around the world. The organization was founded in 1844 and has since grown into a global movement that operates in more than 120 countries. The YMCA's mission is to promote youth development, healthy living, and social responsibility.<br><br>

                    The YMCA is perhaps best known for its recreational facilities and programs. The organization operates fitness centers, swimming pools, gyms, and other facilities that are open to members of the community. In addition to its recreational programs, the YMCA also offers a variety of youth development programs, such as after-school programs, summer camps, and leadership development programs. These programs are designed to help young people build confidence, learn new skills, and become responsible, engaged members of their communities.<br><br>
                    
                    The YMCA also works to promote healthy living and social responsibility through a variety of community-based programs and initiatives. The organization offers health and wellness programs, such as fitness classes and nutrition education, as well as programs to address community health issues, such as diabetes prevention and cancer support. The YMCA also works to promote social responsibility by engaging in community service projects and advocacy efforts on a range of social issues, such as environmental sustainability, poverty, and social justice. By providing a range of programs and services that promote health, well-being, and social responsibility, the YMCA is helping to build stronger, more resilient communities around the world.
            </div>
        </div>

    </body>
</html>